[Desktop Entry]
Type=Application
Version=1.0
Name=VeritasVPN
Comment=VeritasVPN secure tunnel
Exec=veritasvpn-desktop
Icon=veritasvpn-desktop
Terminal=false
Categories=Network;Security;
StartupNotify=true
StartupWMClass=veritasvpn-desktop
Keywords=VPN;WireGuard;Privacy;Security;
